
.card-connect{
    min-width: 600px;
    border-radius:  100px 0 0 0 !important;
    margin-left: -200px;
}

.custom-form .form-check-input:checked {
    background-color: #16205F;
    border-color: #16205F;
}

@media screen and (max-width:576px) {
    .card-connect{

        min-width: auto;
        border-radius: 50px !important;
        margin-left: 0;
    }
}