


@media screen and (max-width:991px) {
    .mt-200{
     margin-top: 180px!important;
    }
 }

@media screen and (max-width:776px) {
    .mt-200{
     margin-top: 230px!important;
    }
 }
 @media screen and (max-width:576px) {
    .mt-200{
        margin-top: 730px!important;
       }
 }
